---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = 'Preguntas y respuestas'
const description = 'pregunta lo que tu quieras saber'
---

<BaseLayout title={title} description={description}>
    <h1>preguntas</h1>
</BaseLayout>