---
import BaseLayout from '../layouts/BaseLayout.astro'

const title = 'CV | JaviMSQZ'
const description = 'portafolio de Luis Javier Masaquiza'
---

<BaseLayout title={title} description={description}>
	<h1>portafolio</h1>
</BaseLayout>