---
import BaseLayout from '../layouts/BaseLayout.astro'
import HeroBaner from "@/components/HeroBaner.astro"

const title = 'CV | JaviMSQZ'
const description = 'portafolio de Luis Javier Masaquiza'
---

<BaseLayout title={title} description={description}>
    <HeroBaner chanracter="uma.jpg" />
	<h1>servisio</h1>
</BaseLayout>